from http import HTTPStatus
from flask import Flask, Response

{{ app }} = Flask(__name__)


@{{ app }}.get("{{ healthcheck_endpoint }}")
def health_check():
    """Health check of the application."""
    return Response(status=HTTPStatus.OK)


@{{ app }}.route('/')
def hello():
    """Get a simple example."""
    return "Hello world"


if __name__ == "__main__":
    app.run(debug=True)
