import requests


def test_hello(url, certificate):
    response = requests.get(url, verify=certificate)
    assert response.status_code == 200
    assert b"Hello world" in response.content


def test_health(url, certificate):
    response = requests.get(f"{url}{{ healthcheck_endpoint }}", verify=certificate)
    assert response.status_code == 200
