name = "{{ name }}"
python_application = "app:app"
healthcheck_endpoint = "/health"
tests_cmd = "pytest"
tests_requirements = [
    "cryptography",
    "intel-sgx-ra",
    "pytest==7.2.0",
]

[cloud]
code = "mse_src"
tests = "tests"
docker = "{{ docker }}"
project = "{{ project }}"
hardware = "{{ hardware }}"